@charset "UTF-8";

body {
    background-color: #FACFAD;
}

h1 {
    color: #104547;
}

h1#principal {
    text-align: center;
    background: #104547;
    color: white;
}

h2 {
    color: #523A34;
}

.basico {
    color: #104547;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: purple;
}